<a href="https://colab.research.google.com/github/MarjeteV/data602/blob/main/Copy_of_MV_07_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**

# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section.

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

•	https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html


### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction
In this section, please describe the dataset you are using. Include a link to the source of this data. You should also provide some explanation on why you choose this dataset.



The Measles data set was 'originally compiled by The Wall Street Journal'. I obtained it through [Kaggle](https://www.kaggle.com/datasets/jessemostipak/measles-immunization-rates-in-us-schools). The data set contains measles vaccination rate data for 46,412 schools in 32 states across the US for 2017 - 2019 school years. I choose this dataset as I am aware that NYS has more strict vaccination requirements for school enrollment and I was curious if other states implement similar standards. The data set also contains columns like the type of school (public, private, charter) which would be a potential way to group the data to see if there are any vaccination rate trends based on school types.

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include:

* Summary statistics means, medians, quartiles,
* Missing value information
* Any other relevant information about the dataset.

In [62]:
import pandas as pd
url = 'https://raw.githubusercontent.com/MarjeteV/data602/main/measles%20-%20measles.csv'
df = pd.read_csv(url)

<ipython-input-62-7b01d3bf4875>:3: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [63]:
print(df.head()) #reviewing columns and data present

   index    state     year                                      name     type  \
0      1  Arizona  2018-19                   A J Mitchell Elementary   Public
1      2  Arizona  2018-19                           Academy Del Sol  Charter
2      3  Arizona  2018-19                    Academy Del Sol - Hope  Charter
3      4  Arizona  2018-19  Academy Of Mathematics And Science South  Charter
4      5  Arizona  2018-19                           Acclaim Academy  Charter

      city      county  district  enroll    mmr  overall xrel  xmed  xper  \
0  Nogales  Santa Cruz       NaN    51.0  100.0     -1.0  NaN   NaN   NaN
1   Tucson        Pima       NaN    22.0  100.0     -1.0  NaN   NaN   NaN
2   Tucson        Pima       NaN    85.0  100.0     -1.0  NaN   NaN   NaN
3  Phoenix    Maricopa       NaN    60.0  100.0     -1.0  NaN   NaN   NaN
4  Phoenix    Maricopa       NaN    43.0  100.0     -1.0  NaN  2.33  2.33

         lat         lng
0  31.347819 -110.938031
1  32.221922 -110.896103
2  32.130493 -111.117005
3  33.485447 -112.130633
4  33.495620 -112.224722

In [64]:
missing_data = df.isna().sum()
print(missing_data) #there is a lot of missing data in several columns

index           0
state           0
year         5681
name            0
type        36622
city        20071
county       6255
district    66113
enroll      16260
mmr             0
overall         0
xrel        66004
xmed        45122
xper        57560
lat          1549
lng          1549
dtype: int64

In [65]:
summary_stats = df.describe()

# Print the summary statistics ie mean, median, quartiles, excluding missing data for numeric columns
print(summary_stats) #some columns like index, district, latitude and longtitude do not make sense in context of statistics

              index  district        enroll           mmr       overall  \
count  66113.000000       0.0  49853.000000  66113.000000  66113.000000
mean    1607.687006       NaN    131.934989     63.166385     54.086118
std     1706.767079       NaN    162.162060     45.724371     46.665942
min        1.000000       NaN      0.000000     -1.000000     -1.000000
25%      429.000000       NaN     46.000000     -1.000000     -1.000000
50%      997.000000       NaN     80.000000     95.000000     87.000000
75%     2133.000000       NaN    129.000000     98.000000     96.100000
max     8066.000000       NaN   6222.000000    100.000000    100.000000

               xmed         xper           lat           lng
count  20991.000000  8553.000000  64564.000000  64564.000000
mean       2.905775     6.780073     39.148041    -96.276156
std        3.852508     7.624310      4.576198     18.441197
min        0.040000     0.170000     24.553269   -124.496864
25%        1.000000     2.840000     35.689611   -117.629405
50%        2.000000     5.000000     40.205405    -89.968565
75%        3.530000     7.550000     42.179303    -81.748674
max      100.000000   169.230000     48.999955     80.205150

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables.

8. Filter your data based on some condition.

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group.
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups.

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

1. Modify multiple column names.

In [66]:
#Define a dictionary mapping old column names to new column names, I could add more if needed
new_column_names = {
    'xmed': 'medical_exemption',
    'xper': 'personal_exemption',
    'xrel': 'religious_exemption'
}
# Rename the columns
df.rename(columns=new_column_names, inplace=True)

# Print the DataFrame to verify the changes
print(df.head())

   index    state     year                                      name     type  \
0      1  Arizona  2018-19                   A J Mitchell Elementary   Public
1      2  Arizona  2018-19                           Academy Del Sol  Charter
2      3  Arizona  2018-19                    Academy Del Sol - Hope  Charter
3      4  Arizona  2018-19  Academy Of Mathematics And Science South  Charter
4      5  Arizona  2018-19                           Acclaim Academy  Charter

      city      county  district  enroll    mmr  overall religious_exemption  \
0  Nogales  Santa Cruz       NaN    51.0  100.0     -1.0                 NaN
1   Tucson        Pima       NaN    22.0  100.0     -1.0                 NaN
2   Tucson        Pima       NaN    85.0  100.0     -1.0                 NaN
3  Phoenix    Maricopa       NaN    60.0  100.0     -1.0                 NaN
4  Phoenix    Maricopa       NaN    43.0  100.0     -1.0                 NaN

   medical_exemption  personal_exemption        lat         lng
0                NaN                 NaN  31.347819 -110.938031
1                NaN                 NaN  32.221922 -110.896103
2                NaN                 NaN  32.130493 -111.117005
3                NaN                 NaN  33.485447 -112.130633
4               2.33                2.33  33.495620 -112.224722

2.  Data Structure

In [67]:
df.dtypes # examines datatype of each column

index                    int64
state                   object
year                    object
name                    object
type                    object
city                    object
county                  object
district               float64
enroll                 float64
mmr                    float64
overall                float64
religious_exemption     object
medical_exemption      float64
personal_exemption     float64
lat                    float64
lng                    float64
dtype: object

In [68]:
df.applymap(type).apply(set).apply(len) > 1 #this shows columns with more than one data type

index                  False
state                  False
year                    True
name                   False
type                    True
city                    True
county                  True
district               False
enroll                 False
mmr                    False
overall                False
religious_exemption     True
medical_exemption      False
personal_exemption     False
lat                    False
lng                    False
dtype: bool

In [69]:
#I will review some columns which I want to keep in my anaylsis
print (df['year'].unique()) # this shows the unique results for each column selected
print (df['religious_exemption'].unique())
print (df['type'].unique())

['2018-19' '2017-18' nan '2017']
[nan True]
['Public' 'Charter' 'Private' nan 'Kindergarten' 'Nonpublic' 'BOCES']

In [70]:
# Convert the column to string type to use string methods
df['year'] = df['year'].astype(str)

# Fill missing values with a placeholder value (e.g., '0000');unsure why nan is still in output, tried other method below
df['year'].fillna('0000', inplace=True)

# Extract the year part so the -19 and -18 are removed
df['year'] = df['year'].str[:4]

#output included a period after the year so this code would remove it
df['year'] = df['year'].str.replace('2017.', '2017')
df['year'] = df['year'].str.replace('2018.', '2018')
df['year'] = df['year'].str.replace('nan', '0000')
df['year'] = pd.to_numeric(df['year'], errors='coerce')

# Print data types after conversion
print(df['year'].unique())

[2018 2017    0]

In [71]:
#using this method above, I will recategorize the nan in the 2 columns below
df['religious_exemption'] = df['religious_exemption'].astype(str)
df['religious_exemption'] = df['religious_exemption'].str.replace('nan', 'Unknown')

df['type'] = df['type'].astype(str)
df['type'] = df['type'].str.replace('nan', 'Unknown')

print(df['religious_exemption'].unique())
print(df['type'].unique())

['Unknown' 'True']
['Public' 'Charter' 'Private' 'Unknown' 'Kindergarten' 'Nonpublic' 'BOCES']

3. Fix missing data, above it made sense to fill in nan with other text. For the datachunk below, the NA will be dropped

In [72]:
# fix missing data, if there was missing data for # of students enrolled, it makes sense to drop those rows.
df.dropna(subset=['enroll'], inplace=True)

# Print the DataFrame to verify the changes
print(df.head())

   index    state  year                                      name     type  \
0      1  Arizona  2018                   A J Mitchell Elementary   Public
1      2  Arizona  2018                           Academy Del Sol  Charter
2      3  Arizona  2018                    Academy Del Sol - Hope  Charter
3      4  Arizona  2018  Academy Of Mathematics And Science South  Charter
4      5  Arizona  2018                           Acclaim Academy  Charter

      city      county  district  enroll    mmr  overall religious_exemption  \
0  Nogales  Santa Cruz       NaN    51.0  100.0     -1.0             Unknown
1   Tucson        Pima       NaN    22.0  100.0     -1.0             Unknown
2   Tucson        Pima       NaN    85.0  100.0     -1.0             Unknown
3  Phoenix    Maricopa       NaN    60.0  100.0     -1.0             Unknown
4  Phoenix    Maricopa       NaN    43.0  100.0     -1.0             Unknown

   medical_exemption  personal_exemption        lat         lng
0                NaN                 NaN  31.347819 -110.938031
1                NaN                 NaN  32.221922 -110.896103
2                NaN                 NaN  32.130493 -111.117005
3                NaN                 NaN  33.485447 -112.130633
4               2.33                2.33  33.495620 -112.224722

4. Create a new column & 5. drop columns

In [73]:
# Create a new column based on calculations
df['medical_or_personal_exemption'] = df['personal_exemption'] + df['medical_exemption']

# drop columns

columns_to_drop = ['medical_exemption', 'personal_exemption', 'lat', 'lng', 'district', 'name', 'city','county']

# Drop the specified columns
df.drop(columns=columns_to_drop, inplace=True)

# Print the DataFrame to verify the changes
print(df.head())

   index    state  year     type  enroll    mmr  overall religious_exemption  \
0      1  Arizona  2018   Public    51.0  100.0     -1.0             Unknown
1      2  Arizona  2018  Charter    22.0  100.0     -1.0             Unknown
2      3  Arizona  2018  Charter    85.0  100.0     -1.0             Unknown
3      4  Arizona  2018  Charter    60.0  100.0     -1.0             Unknown
4      5  Arizona  2018  Charter    43.0  100.0     -1.0             Unknown

   medical_or_personal_exemption
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                           4.66

6. Drop row from your dataset

In [74]:
duplicate_mask = df.duplicated()

# Count the number of True values in the mask
num_duplicates = duplicate_mask.sum()

# Print the number of duplicate rows
print("Number of duplicate rows:", num_duplicates)

df = df.drop_duplicates()

# Print the DataFrame after removing duplicates
print(df.head())

Number of duplicate rows: 16286
   index    state  year     type  enroll    mmr  overall religious_exemption  \
0      1  Arizona  2018   Public    51.0  100.0     -1.0             Unknown
1      2  Arizona  2018  Charter    22.0  100.0     -1.0             Unknown
2      3  Arizona  2018  Charter    85.0  100.0     -1.0             Unknown
3      4  Arizona  2018  Charter    60.0  100.0     -1.0             Unknown
4      5  Arizona  2018  Charter    43.0  100.0     -1.0             Unknown

   medical_or_personal_exemption
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                           4.66


7. Sort your data based on multiple variables.

In [75]:
df_sorted = df.sort_values(by=['overall', 'mmr',], ascending=[True, False])

# Print the sorted DataFrame
print(df_sorted.head())

   index    state  year     type  enroll    mmr  overall religious_exemption  \
0      1  Arizona  2018   Public    51.0  100.0     -1.0             Unknown
1      2  Arizona  2018  Charter    22.0  100.0     -1.0             Unknown
2      3  Arizona  2018  Charter    85.0  100.0     -1.0             Unknown
3      4  Arizona  2018  Charter    60.0  100.0     -1.0             Unknown
4      5  Arizona  2018  Charter    43.0  100.0     -1.0             Unknown

   medical_or_personal_exemption
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                           4.66

In [76]:
df_sorted = df.sort_values(by='mmr')
print(df_sorted.head()) #why is mmr -1 when overall is high and mmr 100% when overall is -1

       index     state  year     type  enroll  mmr  overall  \
31583    228      Iowa  2018  Unknown   235.0 -1.0     97.9
35574    822  Michigan  2018  Unknown    69.0 -1.0     94.2
35573    821  Michigan  2018  Unknown   154.0 -1.0     94.2
35572    820  Michigan  2018  Unknown    52.0 -1.0     94.2
35571    819  Michigan  2018  Unknown   103.0 -1.0     94.2

      religious_exemption  medical_or_personal_exemption
31583             Unknown                            NaN
35574             Unknown                            NaN
35573             Unknown                            NaN
35572             Unknown                            NaN
35571             Unknown                            NaN


8. Filter your data based on some condition.
Overall vaccination rate and mmr vaccination rate has many results of -1, this seems to be an invalid result. I wasnt sure how to handle this so I filtered it out.

In [88]:
filtered_data = df[df['overall'] > -1]
# Print the filtered data
filtered_data2 = filtered_data[filtered_data['mmr'] > -1]
print(filtered_data2.head())

      index       state  year    type  enroll   mmr  overall  \
2018      1  California  2018  Public   137.0  99.0     96.0
2019      2  California  2018  Public   135.0  99.0     99.0
2027      3  California  2018  Public   116.0  99.0     99.0
2028      4  California  2018  Public   100.0  99.0     97.0
2029      5  California  2018  Public   121.0  99.0     99.0

     religious_exemption  medical_or_personal_exemption
2018             Unknown                            0.0
2019             Unknown                            0.0
2027             Unknown                            0.0
2028             Unknown                            0.0
2029             Unknown                            0.0


9. Convert all the string values to upper or lower cases in one column.

In [89]:
filtered_data2['type'] = filtered_data2['type'].str.lower()
print(filtered_data2.head())

      index       state  year    type  enroll   mmr  overall  \
2018      1  California  2018  public   137.0  99.0     96.0
2019      2  California  2018  public   135.0  99.0     99.0
2027      3  California  2018  public   116.0  99.0     99.0
2028      4  California  2018  public   100.0  99.0     97.0
2029      5  California  2018  public   121.0  99.0     99.0

     religious_exemption  medical_or_personal_exemption
2018             Unknown                            0.0
2019             Unknown                            0.0
2027             Unknown                            0.0
2028             Unknown                            0.0
2029             Unknown                            0.0

<ipython-input-89-74e7953ac810>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data2['type'] = filtered_data2['type'].str.lower()



 10. Check whether numeric values are present in a given column of your dataframe.

In [90]:
filtered_data2['medical_or_personal_exemption'].fillna(0, inplace=True) # replace na with 0
numeric_present = pd.to_numeric(df['medical_or_personal_exemption'], errors='coerce').notnull().all()
print(numeric_present)

True

<ipython-input-90-4888d6f9bc8c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data2['medical_or_personal_exemption'].fillna(0, inplace=True)

11. Group your dataset by one column, and get the mean, min, and max values by group.
  * Groupby()
  * agg() or .apply()

In [99]:
grouped_data = df.groupby('state').agg({'mmr': ['mean', 'min', 'max']}) #grouped nonfiltered dataset

# Print the grouped data
print(grouped_data)

                      mmr
                     mean        min        max
state
Arizona         92.699916  15.380000  100.00000
Arkansas        80.522708  17.218540   96.09484
California      79.088725  -1.000000   99.00000
Colorado        94.276490  -1.000000  100.00000
Florida         -1.000000  -1.000000   -1.00000
Illinois        97.071439  10.365854  100.00000
Iowa            -1.000000  -1.000000   -1.00000
Maine           92.554816  38.460000  100.00000
Michigan        -1.000000  -1.000000   -1.00000
Minnesota       90.109363  -1.000000  100.00000
Montana         93.661514  -1.000000  100.00000
New Jersey      -1.000000  -1.000000   -1.00000
North Carolina  -1.000000  -1.000000   -1.00000
North Dakota    92.836353  28.130000  100.00000
Ohio            90.365297   2.780000  100.00000
Oregon          92.617155  -1.000000  100.00000
Pennsylvania    96.828624  42.600000  100.00000
Rhode Island    -1.000000  -1.000000   -1.00000
South Dakota    93.211459  -1.000000  100.00000
Tennessee       -1.000000  -1.000000   -1.00000
Utah            95.202396  20.000000  100.00000
Vermont         91.570665  -1.000000  100.00000
Virginia        -1.000000  -1.000000   -1.00000

In [92]:
grouped_data = filtered_data2.groupby('state').agg({'mmr': ['mean', 'min', 'max']})

# Print the grouped data
print(grouped_data) # with negative 1 being filtered a lot less states are shown below

                  mmr
                 mean        min    max
state
California  95.604569   1.000000   99.0
Colorado    94.412692  16.180000  100.0
Ohio        90.443278  14.290000  100.0
Oregon      93.911998  43.111111  100.0
Vermont     94.583320  33.333333  100.0

12. Group your dataset by two columns and then sort the aggregated results within the groups.

In [96]:
# Group the dataset by two columns and calculate mean by group
grouped_data2 = df.groupby(['type', 'year']).agg({'medical_or_personal_exemption': 'mean'})

# Sort the aggregated results in each group
sorted_data = grouped_data2.sort_values(by='medical_or_personal_exemption', ascending=False) #high to low

# Print the data
print(sorted_data.head())

                   medical_or_personal_exemption
type         year
Private      2017                       1.383000
Public       2017                       1.320739
Charter      2018                       1.287150
Kindergarten 2017                       0.424209
Unknown      2017                       0.123737

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?

In [104]:
#I was curious about how much of the mmr vaccination rates in the original dataset were less than 15%, and found that 38% of the dataset fell in this category
count_less_than_15 = (df['mmr'] < 15).sum()

# Calculate the total number of data points in the column
total_count = len(df['mmr'])

# Calculate the percentage of data points less than 15
percentage= (count_less_than_15 / total_count) * 100
print(percentage)

38.08502398188697

The conclusions I can somewhat draw based on this dataset is that there are fewer medical_or_personal_exemption in kindergarden than other school type or perhaps than higher grade levels. Based on the groupings I can also conclude that based on this dataset, and particularlly the filter_data2 dataset (removing the -1 rates), the states with the highest mmr vaccination rate seem to be California and Vermont.

Overall vaccination rate and mmr vaccination rate has many results of -1 and other low values. While it is clear that a value of -1 mmr or overall vaccination is probably invalid, making a more realistic filter is difficult since there are values as low as 4, and 10 and 15 which might also be invalid or maybe the schools have an extremely low vaccination rate, its hard to tell with out more information.

Ideally, I would have liked to access the dataset from the origin source, hoping to find more expanation about these values. However, when I tried to track down the orginal source the Wall Street Jornal would not allow access with out a membership. With more time I would have looked into other datasets to view what an average low vaccination rate is to find a better cut off of which rates were invalid. In the future I plan to use dataset from the original source due to the possibility this dataset was altered from the original which might explain the invalid outcome.